/*body要素、h1要素、p要素の余白を0に設定*/
body, h1, p {
    margin: 0;
}

/*p要素とa要素のフォントサイズを20pxに設定*/
p, a {
    font-size: 20px;
}

/*headerの下の余白を20px, 背景色変更, 中の要素を中央揃えに設定*/
header {
    margin-bottom: 20px;
    background-color: rgb(244,79,79);
    text-align: center;
}

/*header内h1要素の色変更*/
header h1 {
    color: rgb(255,255,255);
}

/*main要素内の余白設定*/
main {
    padding: 10px;
}

#parent {
    display: flex;
    justify-content: space-between;
}

.contents {
    border: solid 3px rgb(238, 204, 204);
    flex-basis: 25%;
    padding: 10px 15px;
    margin: 20px 0;
    text-align: center;
}

/*contents内2番目p要素のテキスト１番目文字のみ太字*/
.contents p:nth-of-type(2)::first-letter {
    font-weight: bold;
    color: rgb(97,206,249);
}

img {
    margin: 10px 0;
    width: 70%;
}

h2 {
    font-size: 25px;
    border-bottom: dotted 3px rgb(236,122,122);
}

h2::before {
    content: "●";
    color: rgb(239,111,139);
}
/*レスポンシブ対応のための設定*/
@media screen and (max-width:768px)  {
    h2 {
        font-size: 30px;
    }

    p {
        font-size: 25px;
    }

    #parent {
        flex-direction: column;
    }    
}

/*フッター要素の設定*/
footer {
    background-color: rgb(244,79,79);
    text-align: center;
}

footer a {
    color: rgb(255,255,255);
}

footer a:visited {
    color: rgb(193,234,251);
}

footer a:hover {
    color: rgb(245,178,168);
}